/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
  box-sizing: border-box;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  /* startje */
  --color-text: #111;
  --color-background: #F0F0F0;
}
html,
body {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}

@font-face {
  font-family: "NeuzeitGro-Reg";
  src: url("../fonts/NeuzeitGro-Reg.woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "NeuzeitGro-Reg;", Arial, sans-serif;
}

p {
  padding: 0.5em;
  margin: 0.5em;
}

h2, h3 {
  padding: 0.5em;
  margin: 0.5em;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5em;
  padding: 1em 1em;
}

.menu img.svg {
  width: 1.5em;
  height: 1.5em;
}

.menu-icoon {
  all: unset;
  cursor: pointer;
}

.new-window {
  width: 0.875em;
  height: 0.906em;
  background-color: #ffffff;
}

.holiday-return {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  color: #ffffff;
  background-color: #000000;
  padding: 0.5em 2.5em;
}

.holiday-return p {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}

.video {
  width: 100%;
  height: 75vw;
  display: block;
  object-fit: cover;
  object-position: center;
}

h2 {
  text-align: center;
  font-size: 32px;
}

.video-text {
 position: absolute;
  top: 75%;          
  left: 2em;         
  transform: translateY(-50%); 
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  text-align: left;  
  color: #ffffff;
  padding: 1em;
}

.button {
  all: unset;
  cursor: pointer;
  background-color: #000;       
  color: #fff;               
  border: none;                
  border-radius: 1.5em;          
  padding: 0.75em 1em;       
  font-size: 1em;              
  font-weight: 400;           
  cursor: pointer;            
}

.videobutton {
  cursor: pointer;
  background-color: #ffffff;       
  color: #000000;               
  border: none;                
  border-radius: 1.5em;          
  padding: 0.75em 1em;       
  font-size: 1em;              
  font-weight: 600;           
  cursor: pointer;   
}

.video-text p {
  font-size: 1em;
  margin: 0;
  font-weight: 400;
}

.video-text h1 {
  font-size: 2em;
  margin: 0;
  font-weight: 700;
}

.video-text button {
  margin-top: 0.5em;  
}  

.article {
  display: block;
  position:;
}

article img {
  max-height: 295px;
  margin-left: auto;
  margin-right: auto;
}

.card {
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 2em;
  text-align: center;
  margin: 16px;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 4px 12px;
  border: none;
}

.card p {
  font-size: 24px;
  font-weight: 900;
  text-align: left;
}

.card h3 {
  font-size: 28px;
  font-weight: 900;
  text-align: left;
}

.card img {
  display: block;
  margin: 0 auto;  
  width: 80%;
}

.colors{
  list-style: none;
  display: flex;
  gap: 12px;
  padding: 0;
  justify-content: center;
}

.colors li {
 width: 16px;
  height: 16px;
  border-radius: 50%;
  font-size: 0;
  color: transparent;
}


.colors .black { background: #000; }
.colors .beige { background: #cfcac2; }
.colors .lila { background: #c9ccf5; }
.colors .orange { background: #f4a23c; }
.colors .jetblack { background: #1a1a1a; }
.colors .gravelgray { background: #6e6e6e; }
.colors .sparkorange { background: #ff6f31; }
.colors .powerpink { background: #ff3b8c; }
.colors .deepbrown { background: #4b2e1e; }
.colors .navy { background: #001f4d; }
.colors .sandstone { background: #c2b280; }
.colors .statementred { background: #d32f2f; }
.colors .matteblack { background: #2b2b2b; }
.colors .ivory { background: #fffff0; }
.colors .transparant { background: #e0e0e0; }
.colors .champagnegold { background: #f7e7ce; }
.colors .granitegray { background: #676767; }
.colors .bedrock.blue { background: #4a90e2; }
.colors .limestone { background: #d3d3d3; }
.colors .pebble.pink { background: #f4c2c2; }
.colors .flameblue { background: #007fff; }
.colors .yuzuyellow { background: #fce205; }
.colors .smoke.gray { background: #888888; }

.join{
  align-items: center;
  width: 24px;
  height: 24px;
 }

 .location{
  align-items: center;
  width: 24px;
  height: 24px;
  margin-right: 8px; }

footer img.socialmedia{
  align-items: center;
  width: 24px;
  height: 24px;

}

